$kurale: 'Kurale', sans-serif;
$os: 'Open Sans', sans-serif;
$white: #fff;
$color: #000;
$text: 18px;
$wrap: 1440px;
$container: 1230px;
$mc: 0 auto;
$yellow: #E8C300;
$black: black;
$white-opacity: rgba(255,255,255,0.5);
$black-opacity: rgba(0,0,0,0.5);

@mixin flex($jc, $ai) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
    align-items: center;
}

body {
    background: $white;
    font-family: $os;
    color: $color;
    font-size: $text;
}
.wrapper {
    max-width: $wrap;
    margin: $mc;
}

.container {
    max-width: $container;
    padding: 0 15px;
    margin: $mc;
}

svg {
    width: 100%;
    height: 100%;
}
@mixin line {
    content: "";
    display: block;
    background-color: $yellow;
    width: 60px;
    height: 5px;
    margin: $mc;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 35px;
}
@mixin img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 50px $black-opacity);
    border-radius: 5px;
}
.circle {
    width: 250px;
    height: 250px;
    border: 20px solid $yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    filter: drop-shadow(0px 0px 100px $black-opacity);
    
}
section h2 {
    font-size: 42px;
    font-weight: normal;
    font-family: $kurale;
    &::after {
        @include line
    }
}

section p {
    font-size: 18px;
    line-height: 175%;
    margin-bottom: 25px;
}
.intro {
    font-weight: bold;
}
